# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: https://discord.gg/esx-framework     #
#     Website: https://esx-framework.org/           #
#     CFG Docs: https://aka.cfx.re/server-commands  #
# # # # # # # # # # # # # # # # # # # # # # # # # # #


## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sets tags "default, deployer, esx, esx legacy, legacy, official, roleplay"

## You MAY edit the following:
sv_licenseKey "cfxk_K8RIFETxVGJLcFXzlWUe_JVyOs"
sv_hostname "☁️ Heaven Project ☁️ | Wkrótce..."
sets sv_projectName "☁️ Heaven Project ☁️ | Wkrótce..."
set mysql_connection_string "user=root;host=localhost;port=3306;database=esxlegacy"
load_server_icon logo.png
sv_maxclients 48

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:1521463 group.admin #wwr523
add_principal identifier.fivem:671752 group.admin #Lakrous


set sv_enableNetworkedSounds false
## pma-voice config
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

## ESX Translation convar (edit to change the language of ESX 
setr esx:locale "pl"




set steam_webApiKey "6290554B85984062CCC2778780E9A157"
exec inventory.cfg
exec scripts.cfg